@import '../mixin';
%otherPaymentsBtn {
    border-radius: 6px;
    width: 164px;
    height: 62px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    box-shadow: none;
    &.btn-custom-green {
        background-color: $primary-green;
        border-radius: 6px;
        padding: 19px 25px;
        width: 145px;
        font-family: 'Google Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        text-transform: unset;
        text-align: center;
        letter-spacing: 0.15px;
        color: #FFFFFF;
        margin: 0;
        @include transition-all(.3);
        &:hover,
        &:focus {
            background-color: #88CE89;
            box-shadow: none;
        }
        &:active {
            background-color: #40A746;
            box-shadow: none;
        }
        &.disabled {
            background-color: #E1E5E7;
            color: #9395A4;
            &:not([href]) {
                &:not([tabindex]) {
                    color: #9395A4;
                }
            }
        }
        &.loading {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                border-radius: 50%;
                border: 4px solid rgba(255,255,255,.4);
                border-top-color: #FFFFFF;
                border-left-color: #FFFFFF;
                width: 30px;
                height: 30px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                z-index: 1;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #40A746;
            }
        }
    }
    &.btn-gpay {
        @extend %otherPaymentsBtn;
        background: #FFFFFF;
        border: 0.5px solid #CFD5DA;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
    }
    &.btn-ipay {
        @extend %otherPaymentsBtn;
        background: #000000;
    }
    &.btn-spay {
        @extend %otherPaymentsBtn;
        background: #034EA2;
    }
    &.btn-custom-outlined {
        background: #FFFFFF;
        border: 0.5px solid #CFD5DA;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
        border-radius: 6px;
        font-family: Google Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height, or 133% */
        text-align: center;
        letter-spacing: 0.15px;
        color: #0B1C27;
        mix-blend-mode: normal;
        text-transform: unset;
        margin: 0;
        padding: 19px 16px;
        width: 224px;
    }
}
/*--------------------------------*/
/* Buttons Css - Breakpoints */
@media (max-width: 1600px) {}
@media (max-width: 1500px) {}
@media (max-width: 1400px) {}
@media (max-width: 1199px) {}
@media (max-width: 991px) {
    %otherPaymentsBtn {
        img {
            max-width: 90px;
        }
        margin-right: 15px;
    }
}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
@media (max-width: 379px) {}
/* ./Buttons Css - Breakpoints */
/*--------------------------------*/