@import "../mixin";

.custom-multi-select {
    position: relative;
    color:#9395A4;
    &.selected {
        color:#0B1C27;
        label {
            display: block;
        }
        .select-selected {
            padding: 26px 40px 10px 16px;
        }
    }
    label {
        display: none;
        position: absolute;
        top: 10px;
        left: 16px;
        font-family: Google Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        // line-height: 133%;
        letter-spacing: 0.4px;
        color: #9395A4;
        z-index: 1;
    }
    select {
        display: none; /*hide original SELECT element:*/
    }
    .select-selected {
        position: relative;
        background: #FFFFFF;
        border: 1px solid #E1E5E7;
        box-sizing: border-box;
        border-radius: 6px;
        width: 259px;
        padding: 18px 40px 18px 16px;
        font-family: Google Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        // line-height: 150%;
        letter-spacing: 0.15px;
        @include transition-all('.3');
        &:after {
            content: "\61";
            font-family: "uniteller" !important;
            font-size: 8px;
            line-height: 1;
            color: #000000;
            position: absolute;
            top: 27px;
            right: 20px;
            @include transition-all(.3);
        }
        &:hover,
        &.select-arrow-active {
            background: #FBFBFB;
            border: 1px solid #E1E5E7;
            box-sizing: border-box;
            border-radius: 6px;
        }
        &.select-arrow-active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            &:after {
                transform: rotate(-180deg);
            }
        }
    }
    .select-items {
        display: table;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 259.5px;
        // width: 100%;
        padding: 12px 0;
        background-color: #ffffff;
        border: 1px solid #E1E5E7;
        border-top: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        z-index: 99;
        div {
            font-family: Google Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            color: #9395A4;
            cursor: pointer;
            user-select: none;
            padding: 5px 15px;
            padding-right: 40px;
            @include transition-all('.2');
            &:hover, &.same-as-selected {
                background-color: #FBFBFB;
                color: #000000;
            }
            &.same-as-selected {
                background-color: #FBFBFB;
            }
        }
    }
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none!important;
}