/*--------------------------------*/
/* Custom Css - Breakpoints */
/* ./Custom Css - Breakpoints */
/*--------------------------------*/
.md-form_custom label, .md-form_custom input {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
}

.md-form_custom {
  color: #0B1C27;
}
.md-form_custom input {
  width: 259px;
}
.md-form_custom input[type=number] {
  -moz-appearance: textfield;
}
.md-form_custom input[type=text]:not(.browser-default), .md-form_custom input[type=password]:not(.browser-default), .md-form_custom input[type=email]:not(.browser-default), .md-form_custom input[type=number]:not(.browser-default) {
  border-bottom: none;
  margin-bottom: 0;
  padding: 18px 40px 18px 16px;
  border: 1px solid #E1E5E7;
  box-sizing: border-box;
  border-radius: 6px;
  caret-color: #65B767;
}
.md-form_custom input[type=text]:not(.browser-default)::-webkit-outer-spin-button, .md-form_custom input[type=text]:not(.browser-default)::-webkit-inner-spin-button, .md-form_custom input[type=password]:not(.browser-default)::-webkit-outer-spin-button, .md-form_custom input[type=password]:not(.browser-default)::-webkit-inner-spin-button, .md-form_custom input[type=email]:not(.browser-default)::-webkit-outer-spin-button, .md-form_custom input[type=email]:not(.browser-default)::-webkit-inner-spin-button, .md-form_custom input[type=number]:not(.browser-default)::-webkit-outer-spin-button, .md-form_custom input[type=number]:not(.browser-default)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.md-form_custom input[type=text]:not(.browser-default):focus:not([readonly]), .md-form_custom input[type=password]:not(.browser-default):focus:not([readonly]), .md-form_custom input[type=email]:not(.browser-default):focus:not([readonly]), .md-form_custom input[type=number]:not(.browser-default):focus:not([readonly]) {
  border-color: #65B767;
  box-shadow: none;
  padding: 26px 40px 10px 16px;
}
.md-form_custom input[type=text]:not(.browser-default):focus:not([readonly]) + label, .md-form_custom input[type=password]:not(.browser-default):focus:not([readonly]) + label, .md-form_custom input[type=email]:not(.browser-default):focus:not([readonly]) + label, .md-form_custom input[type=number]:not(.browser-default):focus:not([readonly]) + label {
  color: #9395A4;
}
.md-form_custom input[type=text]:not(.browser-default).active, .md-form_custom input[type=password]:not(.browser-default).active, .md-form_custom input[type=email]:not(.browser-default).active, .md-form_custom input[type=number]:not(.browser-default).active {
  padding: 26px 40px 10px 16px;
}
.md-form_custom input[type=text]:not(.browser-default).active.not-valid, .md-form_custom input[type=password]:not(.browser-default).active.not-valid, .md-form_custom input[type=email]:not(.browser-default).active.not-valid, .md-form_custom input[type=number]:not(.browser-default).active.not-valid {
  border-color: #DD5656;
}
.md-form_custom input[type=text]:not(.browser-default).error, .md-form_custom input[type=password]:not(.browser-default).error, .md-form_custom input[type=email]:not(.browser-default).error, .md-form_custom input[type=number]:not(.browser-default).error {
  border-color: #DD5656;
}
.md-form_custom label {
  color: #9395A4;
  left: 16px;
  top: 11px;
  line-height: 1;
  margin-bottom: 0;
}
.md-form_custom label.active {
  top: 20px;
  font-size: 12px;
  line-height: 20px;
}
.md-form_custom a.clear-input {
  position: absolute;
  top: 23px;
  right: 16px;
  color: #dfdfe4;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.md-form_custom a.clear-input .icon {
  display: inline-flex;
  font-size: 16px;
}
.md-form_custom a.clear-input.active {
  opacity: 1;
}
.md-form_custom a.clear-input.active:hover {
  color: #92929D;
}
.md-form_custom span.error {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #DD5656;
}

@media (max-width: 575px) {
  .md-form_custom input[type=text]:not(.browser-default), .md-form_custom input[type=password]:not(.browser-default), .md-form_custom input[type=email]:not(.browser-default), .md-form_custom input[type=number]:not(.browser-default) {
    padding: 10px 16px;
  }
  .md-form_custom input[type=text]:not(.browser-default):focus:not([readonly]), .md-form_custom input[type=password]:not(.browser-default):focus:not([readonly]), .md-form_custom input[type=email]:not(.browser-default):focus:not([readonly]), .md-form_custom input[type=number]:not(.browser-default):focus:not([readonly]) {
    padding: 10px 16px;
  }
  .md-form_custom input[type=text]:not(.browser-default):focus:not([readonly]) + label, .md-form_custom input[type=password]:not(.browser-default):focus:not([readonly]) + label, .md-form_custom input[type=email]:not(.browser-default):focus:not([readonly]) + label, .md-form_custom input[type=number]:not(.browser-default):focus:not([readonly]) + label {
    color: #9395A4;
  }
  .md-form_custom input[type=text]:not(.browser-default).active, .md-form_custom input[type=password]:not(.browser-default).active, .md-form_custom input[type=email]:not(.browser-default).active, .md-form_custom input[type=number]:not(.browser-default).active {
    padding: 10px 16px;
  }
  .md-form_custom input[type=text]:not(.browser-default).active.not-valid, .md-form_custom input[type=password]:not(.browser-default).active.not-valid, .md-form_custom input[type=email]:not(.browser-default).active.not-valid, .md-form_custom input[type=number]:not(.browser-default).active.not-valid {
    border-color: #DD5656;
  }
  .md-form_custom label {
    top: 3px;
    font-size: 14px;
  }
  .md-form_custom label.active {
    top: 12px;
  }
}

/*# sourceMappingURL=forms.css.map */
