@charset "UTF-8";
/*--------------------------------*/
/* Custom Css - Breakpoints */
/* ./Custom Css - Breakpoints */
/*--------------------------------*/
.payment-card__back, .payment-card__front {
  border: 1px solid #E1E5E7;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 32px 24px;
  width: 386px;
  height: 228px;
}

.payment-card__type.masterc, .payment-card__type.maestro, .payment-card__type.mir, .payment-card__type.visa {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 36px;
  position: absolute;
  top: 19px;
  right: 16px;
}

.payment-card {
  position: relative;
}
.payment-card__front {
  position: relative;
  background-color: #F3F5F7;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.payment-card__front.sberbank {
  background-color: #2F9A41;
  color: #E1E5E7;
}
.payment-card__front.sberbank .md-form_custom .error-message {
  color: #E1E5E7;
}
.payment-card__front.alfabank {
  background-color: #EF3124;
  color: #E1E5E7;
}
.payment-card__front.alfabank .md-form_custom .error-message {
  color: #E1E5E7;
}
.payment-card__front.alfabank .md-form_custom input.active.not-valid {
  border-color: #E1E5E7;
}
.payment-card__front.otkritiebank {
  background-color: #00B2E1;
  color: #E1E5E7;
}
.payment-card__front.otkritiebank .md-form_custom .error-message {
  color: #E1E5E7;
}
.payment-card__front.otkritiebank .md-form_custom input.active.not-valid {
  border-color: #E1E5E7;
}
.payment-card__front.tinkoffbank {
  background-color: #0B1C27;
  color: #E1E5E7;
}
.payment-card__front.tinkoffbank .md-form_custom .error-message {
  color: #E1E5E7;
}
.payment-card__front.tinkoffbank .md-form_custom input.active.not-valid {
  border-color: #E1E5E7;
}
.payment-card__front.blank {
  background-color: #2F9A41;
  color: #E1E5E7;
}
.payment-card__front.blank .md-form_custom .error-message {
  color: #E1E5E7;
}
.payment-card__front.blank .md-form_custom input.active.not-valid {
  border-color: #E1E5E7;
}
.payment-card__front.blank .payment-card__logo {
  border: 1px dashed #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
}
.payment-card__front.blank .payment-card__logo::after {
  content: "Логотип банка";
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  text-align: center;
  letter-spacing: 0.15px;
  color: #E1E5E7;
  mix-blend-mode: normal;
}
.payment-card__back {
  background: #E7E9EC;
  position: absolute;
  top: 0;
  left: 138px;
}
.payment-card__back::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  height: 62px;
  width: 100%;
  background-color: #CFD1D4;
}
.payment-card__number .md-form {
  margin: 0;
  margin-bottom: 40px;
}
.payment-card__number .md-form_custom input {
  width: 100%;
  background-color: #ffffff !important;
}
.payment-card__number .md-form_custom span.error {
  display: none !important;
}
.payment-card__type.visa {
  background-image: url("../../img/card-types/visa.svg");
}
.payment-card__type.mir {
  background-image: url("../../img/card-types/mir.svg");
}
.payment-card__type.maestro {
  background-image: url("../../img/card-types/maestro.svg");
}
.payment-card__type.masterc {
  background-image: url("../../img/card-types/masterc.svg");
}
.payment-card__saved {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: calc(100% + 15px);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
  border-radius: 6px;
}
.payment-card__saved::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
}
.payment-card__saved_card {
  display: flex;
  padding: 12px 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #CFD1D4;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.payment-card__saved_card:hover {
  background-color: #FBFBFB;
}
.payment-card__saved_card span {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
  color: #0B1C27;
}
.payment-card__saved_card img {
  height: 19px;
  width: auto;
}
.payment-card__saved_card:first-of-type {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.payment-card__saved_card:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: none;
}
.payment-card__saved_card-number {
  display: flex;
  align-items: center;
  width: 92%;
}
.payment-card__saved_card-number span {
  margin-right: auto;
}
.payment-card__saved a.delete-item {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.payment-card__saved a.delete-item .icon {
  display: inline-flex;
}
.payment-card__valid-thru {
  display: flex;
  align-items: center;
}
.payment-card__valid-thru span {
  margin: 0 8px;
}
.payment-card__valid-thru .md-form {
  margin: 0;
  height: 62px;
}
.payment-card__valid-thru .md-form_custom input {
  width: 106px;
  background-color: #ffffff !important;
}
.payment-card__valid-thru .md-form_custom span.error {
  display: none !important;
}
.payment-card__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 62px;
  margin-left: 16px;
}
.payment-card__logo .icon {
  font-size: 50px;
  color: #ffffff;
  display: inline-flex;
}
.payment-card__logo .icon.icon-tinkoffbank {
  background-image: url("../../img/icons/tinkoff.svg");
  background-size: contain;
  height: 60px;
  width: 67px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.payment-card__cvc {
  position: absolute;
  bottom: 6px;
  right: 24px;
}
.payment-card__cvc .md-form {
  margin: 0;
  height: 62px;
}
.payment-card__cvc .md-form_custom input {
  width: 90px;
  background-color: #ffffff !important;
}
.payment-card__cvc .md-form_custom span.error {
  display: none !important;
}
.payment-card__cvc a {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.4px;
  color: #9395A4;
  mix-blend-mode: normal;
}
.payment-card__cvc a.active {
  color: #0B1C27;
}
.payment-card__cvc .info {
  z-index: 1;
}
.payment-card__cvc .info__text {
  display: none;
  width: 190px;
  left: -72px;
  bottom: 35px;
}
.payment-card__cvc .info:hover .info__text {
  display: block;
}

/*--------------------------------*/
/* Payment Cards Css - Breakpoints */
@media (max-width: 991px) {
  .payment-card__front, .payment-card__back {
    width: 320px;
  }

  .payment-card {
    height: 330px;
  }
  .payment-card__back {
    top: 100px;
    left: 25px;
  }
}
/* ./Payment Cards Css - Breakpoints */
/*--------------------------------*/

/*# sourceMappingURL=payment-cards.css.map */
